<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>id</th>
            </tr>
        </thead>
        <tbody>
            {% for i in abc %}
            <tr>
                <td>{{i.Name}}</td>
                <td>{{i.Age}}</td>
                <td>
                    <!-- Edit button with ObjectId passed in URL -->
                    <a href="{{ url_for('edit', id=i._id) }}">Edit</a>
                    <a href="{{ url_for('delete', id=i._id) }}">delete</a>
                </td>
                
            </tr>
             {% endfor %}
             </tbody>
    <h1>Welcome to My Flask App</h1>
    <p>This is the index page served using Flask.</p>
</body>
</html>
